body {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    letter-spacing: 0.15em;
}

#logo{
 padding:20px 0;
 text-align: center;
 color: white;
}

#logo img{
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 100%;
}

section{
    padding: 20px;
    letter-spacing: 0.15em;
    background-color: white;
}

section h2{
    text-align: center;
}

footer {
    width:100%;
  padding: 11px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
  position: absolute;
  bottom: 0;
}